#Exclude __pycache__
/dags/__pycache__
/plugins/__pycache__
/plugins/operators/__pycache__
/plugins/helpers/__pycache__

#Exclude misc
temp.txt

#Exclude temp files
/tmp/*

#Exlude data file
/data/*
./data
data

#Exclude logs
./logs/*
./logs
logs